{:paths ["src" "test"]
 :tasks {test:bb {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :task (exec 'cognitect.test-runner.api/test)
                  :exec-args {:dirs ["test/delta_robot" "test/delta_robot/pigpiod_test.clj"]}
                  :org.babashka/cli {:coerce {:nses [:symbol]
                                              :vars [:symbol]}}}

         example
         {:doc "an example of how to refactor these functions"
          :task (exec 'delta-robot.tasks/example-task)}

         move-to
         {:doc "move end effector to position x,y,z"
          :task (exec 'delta-robot.tasks/move-to)}

         gripper
         {:doc "control the gripper"
          :task (exec 'delta-robot.tasks/gripper)}
         
         home
         {:doc "home the robot"
          :task (exec 'delta-robot.tasks/home)}}}
